/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
}
.row {
    margin-bottom: 30px;

    .list-title {
        font-size: 20px;
    }
}

.list-btn {
    button {
        display: flex;
        width: 150px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        background: transparent;
        color: #fff;
        border-radius: 5px;
        border: 0px !important;
        outline: none !important;
        box-shadow: 0 0 20px -10px transparent;
        transition: all 0.3s ease;;
    }
    button.taskOpen {
        background: #4CAF50;
        box-shadow: 0 0 20px -10px #009688;
    }
    button.taskClose {
        background: #FF5722;
        box-shadow: 0 0 20px -10px #E91E63;
    }
}

.openList {
    color: #607D8B;
}
.closedList {
    color: #c9c9c9;
}
.closedList {
    .list-title {
        text-decoration: line-through;
    }
}
.widget-heading.closedTitle {
    text-decoration: line-through;
    color: #999999;
}



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #f0f0f0
}

i {
    font-style: italic
}

.container {
    margin-top: 100px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 10px;
    background-color: #fff;
    border: 0;
}

.list-group-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 40px);
    height: 1px;
    background: #d9d9d9;
}
.widget-content-desc {
    padding: 10px 0 10px 36px;
    color: #666;
    font-size: 14px;
}

.widget-content-left .widget-content-left {
    flex-basis: 83%;
    max-width: 83%;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.widget-heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.todo-indicator {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-right: 6px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    span {
        font-size: 13px;
        line-height: 1;
        font-weight: 500;
        color: #ffff;
    }
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: flex-start;
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.card-footer {
    background-color: #fff
}
.addTodo-modal {
    display: block;
    opacity: 1;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal.addTodo-modal.todoItem {
    .modal-dialog {
        max-width: 800px;
    }
}

.modal-content {
    .widget-heading {
        font-size: 20px;
        line-height: 28px;
    }
    .todo-indicator {
        width: 28px;
        height: 28px;
    }
    .widget-subheading {
        color: #858a8e;
        font-size: 10px;
        margin: 4px 0px 0px 35px;
    }
    .task-description {
        margin: 30px 0 20px;
        font-size: 16px;
        line-height: 1.5;
    }
}

